<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/" method="post">
      <label>URL:</label>
      <br>
      <input type="text" name="urlInput">
      <input type="submit" value="Fetch Version">
    </form>
  </body>
</html>
